.staffer {
  display: block;
  margin: $sp-4;

  .staffer-image {
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  p,
  .staffer-name {
    margin: $sp-1 !important;
    a {
      margin-right: $sp-1;
    }
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
    margin-left: 0;
    margin-right: $sp-1;
  }

  .staffer-meta {
    @extend .label, .label-purple;
    margin-left: 0;
    margin-right: $sp-1;
  }
}

@include mq(sm) {
  .staffer {
    display: flex;

    .staffer-image {
      margin-left: 0;
      margin-right: $sp-4;
    }
  }
}