table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid;
    border-color: $light-gray;
    @media (prefers-color-scheme: dark) {
        border-color: $dark-gray;
    }
}

table td,
table th {
    border-left: 1px solid;/*  inner column border */
    margin: 0;
    padding: 0.5em 1em; /* cell padding */
    border-color: $light-gray;
    @media (prefers-color-scheme: dark) {
        border-color: $dark-gray;
    }
}

table tr {
    border-bottom: 1px solid;/*  inner column border */
    border-color:  $light-gray;
    @media (prefers-color-scheme: dark) {
        border-color: $dark-gray;
    }
}

table thead {
    text-align: left;
    vertical-align: bottom;
    background-color: lighten($light-gray, 10%);
    @media (prefers-color-scheme: dark) {
        background-color: darken($dark-gray, 10%);
    }    
}