/* Basscss Base Typography */

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: $space-2;
  margin-bottom: $space-1;
}

p,
dl,
ol,
ul,
dd {
  margin-top: 0;
  margin-bottom: $space-2;
}

ol,
ul {
  padding-left: $space-3;
}

ul li {
  margin-bottom: 0.25rem;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

hr {
  margin-top: $space-2;
  margin-bottom: $space-2;
}

blockquote {
  margin: 0;
  padding-left: $space-2;
  padding-right: $space-2;
  padding: 0;
}

blockquote,
blockquote p {
  font-style: italic;
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  font-size: $h6;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}


html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $dark-gray;
  //@media (prefers-color-scheme: dark) {
  //  color: $light-gray;
  //}
  line-height: $line-height;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

.katex {
  font-size: 1.3em;
}

body > h1, h2, h3, h4, h5, h6 {
  color: $cs-jedi-red;
  //@media (prefers-color-scheme: dark) {
  //  color: $cs-jedi-red-dm;
  //}
}